<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <appSettings>
    <add key="Environment" value="Null" />
    <add key="CONFIG" value="%LOCALAPPDATA%\VLS\MFG-00529\config.json" />
    <add key="VOCSN_TESTS" value=".\vocsn_tests.xml" />
    <add key="V_TESTS" value=".\v_tests.xml" />
    <add key="LOCALDB_PATH" value="C:\VentecLife\ControlBoardTest.db" />
    <add key="TESTS_TABLENAME" value="tests" />
    <add key="INSTANCE_TABLENAME" value="test-instance" />
  </appSettings>
  
  
  
  <connectionStrings>
    <add name="Debug" connectionString="Provider=MSOLEDBSQL;Server=vls-test-database.database.windows.net;Initial Catalog=vls-production-test;Authentication=SqlPassword;User ID=sw_svc;Password=Ventec123;Use Encryption for Data=true;" />
    <add name="Local" connectionString="" />

    <add name="Production" connectionString="Provider=MSOLEDBSQL;Server=vls-test-database.database.windows.net;Initial Catalog=vls-production-test;Authentication=SqlPassword;User ID=sw_svc;Password=Ventec123;Use Encryption for Data=true;" />  
  </connectionStrings>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>