<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Null" />
    <add key="CONFIG" value="%LOCALAPPDATA%\VLS\MFG-00529\config.json" />
    <add key="VOCSN_TESTS" value=".\Settings\vocsn_tests.xml" />
    <add key="V_TESTS" value=".\Settings\v_tests.xml" />
    <add key="LOCALDB" value="C:\Ventec\TestData\ControlBoardLocalDb.db" />
    <add key="TESTS_TABLENAME" value="[dbo].[test-data]" />
    <add key="INSTANCE_TABLENAME" value="[dbo].[test-results]" />
    <add key="PASS_IMAGE" value=".\Images\PASS.png" />
    <add key="FAIL_IMAGE" value=".\Images\FAIL.png" />
    <add key="EXT_O2_SETTINGSPATH" value="/fs/usb/fct_settings/exto2.bin"/>
    <add key="HIGH_VOL_SETTINGSPATH" value="/fs/usb/fct_settings/highvol.bin"/>
    <add key="LOW_VOL_SETTINGSPATH" value="/fs/usb/fct_settings/lowvol.bin"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MOCKGPIO" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Local" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Ventec\TestData\ControlBoardLocalDb.mdb" />-->
    <add name="Local" connectionString="Data Source=C:\Ventec\TestData\ControlBoardLocalDb.db;Version=3;" />
    <add name="Debug" connectionString="Provider=MSOLEDBSQL;Server=vls-test-database.database.windows.net;Initial Catalog=vls-production-test;Authentication=SqlPassword;User ID=sw_svc;Password=Ventec123;Use Encryption for Data=true;Connection Timeout=5;" />
    <add name="Production" connectionString="Provider=MSOLEDBSQL;Server=vls-test-database.database.windows.net;Initial Catalog=vls-production-test;Authentication=SqlPassword;User ID=sw_svc;Password=Ventec123;Use Encryption for Data=true;Connection Timeout=5;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>