<?xml version="1.0" encoding="utf-8" ?>

<Settings>
  <Installation Location="VLS" EQID="1010" MFG_CODE="V" DatabasePath =".\\Database\\MFG_527.db" DHCP_Enable="false" DHCP_Start="10.10.1.1" DHCP_End="10.10.1.100"/>

  <EquipAddr>
    <DMM protocol="RS232" address="COM4" name="FLUKE" baudrate="115200" stopbits="1"/>
    <PPS protocol="RS232" address="COM3" name="HEWLETT" baudrate="1200" stopbits="2"/>
    <SOM protocol="RS232" address="COM7" name="SOM" baudrate="115200"/>
    
  </EquipAddr>

  
  <programming>
    <!-- The following XML nodes are the steps needed to program the board. The order is important, tests are performed in the order listed. -->
    <program name="CPLD Program" method_name="Program_CPLD" flashpro="C://Microsemi//Program_Debug_v11.9//bin//Flashpro.exe" project_file="C://Users//trogers//Workspaces//MFG-00527//FunctionalTest//ProgramLoad//CPLDLoad//PowerBoard_V12.pro" tcl_script="C://Users//trogers//Workspaces//MFG-00527/FunctionalTest//ProgramLoad//CPLDLoad//cpld_program.tcl"/>
    <program name="Hercules Program" method_name="Program_Hercules" batch_file="C://Users//trogers//Workspaces//MFG-00527//FunctionalTest//ProgramLoad//HerculesLoad//dslite.bat" />
    <program name="SOM Program" method_name="Program_SOM"/>
    
  </programming>
  <!-- The following XML nodes are the steps needed to start the test. The order is important, tests are performed in the order listed. -->
  <startup>
    
    <startup name="Power On" method_name="test_power_on" qual="true" timeout="15000"/>
    <startup name="Telemetry Connect" method_name="ConnectToTelnet" qual="true" timeout="15000"/>
  </startup>

  <powerdown>
    <startup name="Power Down" method_name="test_power_down" qual="true"/>
  </powerdown>
  
  <!-- The following XML nodes are the tests that will be performed by software. The order is important, tests are performed in the order listed. -->
  <tests>

    <!-- LCD Interface -->
    <test name="LCD Test" method_name="test_lcd" qual="true"/>
    <!-- Voltage Interfaces -->
    <test TPID ="2XB" name="3V3_HOT Test" method_name="test_3V3_HOT" qual="false" upper="3.382" lower="3.217"/>
    <test TPID ="2XD" name="5V0_HOT Test" method_name="test_5V0_HOT" qual="false" upper="5.125" lower="4.875"/>
    <test TPID ="2A" name="5V3 SMPS Test" method_name="test_5V3_SMPS" qual="false" upper="5.432" lower="5.167"/>
    <test TPID ="2D" name="12V0 SMPS Test" method_name="test_12V0_SMPS" qual="false" upper="12.3" lower="11.7"/>
    <test TPID ="2B" name="3V3 SMPS Test" method_name="test_3V3_SMPS" qual="false" upper="3.382" lower="3.217"/>
    <test TPID ="2C" name="1V2 SMPS Test" method_name="test_1V2_SMPS" qual="false" upper="1.4" lower="1.0"/>
    <test TPID ="2G" name="2V048 LDO Test" method_name="test_VREF" qual="false" upper="2.048" lower="2.038"/>
    <test TPID ="2XB" name="3V3 LDO Test" method_name="test_3V3_LDO" qual="false" upper="3.382" lower="3.217"/>
    <test TPID ="2XB" name="30V SMPS Test" method_name="test_30V_SMPS" qual="false" upper="33.0" lower="27.0"/>
    <test TPID ="2XB" name="36V SMPS Test" method_name="test_36V_SMPS" qual="false" upper="39.0" lower="33.0"/>
    
    <!-- Control Board Specific -->
    <test name="Barometer Test" method_name="test_barometer" qual="false" upper="105" lower="99"/>
    <test name="Thermometer Test" method_name="test_thermometer" qual="false" upper="35" lower="15"/>
    
    <test name="USB Host Test" method_name="test_usb_host" qual="true"/>
    <test name="VCM Revision Test" method_name="test_vcm_rev" qual="true" rev="SW#"/>
    <test name="CPLD Revision Test" method_name="test_cpld_rev" qual="true" rev="12"/>
    <test name="CPLD Communication Test" method_name="test_cpld_comms" qual="true"/>
    <test name="watchdog Test" method_name="test_watchdog" qual="true"/>
    <test name="Microphone Test" method_name="test_microphone" qual="true"/>
    <test name="Nurse Call Test" method_name="test_nurse_call" qual="true"/>
    <test name="Piezo Test" method_name="test_piezo" qual="true"/>
    <test name="SD Card Test" method_name="test_sd_card" qual="true"/>
    <test name="USB Test" method_name="test_usb" qual="true" filename="mfg_527.log"/>

    <!-- Blower interface -->
    <test name="Blower Test" method_name="test_blower" qual="false" speed="20000" tolerance="10"/>
    
    <!-- External Oxygen Interface -->
    <test name="SV9 Off Test" method_name="test_sv9_off" qual="false" upper="12.3" lower="11.7"/>
    <test name="SV10 Off Test" method_name="test_sv10_off" qual="false" upper="12.3" lower="11.7"/>
    <test name="SV9 ON Test" method_name="test_sv9_on" qual="false" upper="0.3" lower="-0.3"/>
    <test name="SV10 ON Test" method_name="test_sv9_on" qual="false" upper="0.3" lower="-0.3"/>
    
    <!-- Exhalation Board Interface -->
    <test name="Exhl SV 6" method_name="test_exhalation_sv6" qual="true" toggle="30" />
    <test name="Exhl SV 7" method_name="test_exhalation_sv7" qual="true" toggle="30" />
    <test name="Exhl SV 8" method_name="test_exhalation_sv8" qual="true" toggle="30" />
    <test name="Exhl I2C"  method_name="test_exhl_i2c" qual="true"/>

    <!-- External Flow Board Interface -->
    <test name="XFlow SV 1&amp;2" method_name="test_xflow_sv1" qual="false" toggle="10" upper="10" lower="10"/>
    <test name="XFlow SV 3&amp;4" method_name="test_xflow_sv3" qual="false" toggle="10" upper="10" lower="10"/>
    
    <test name="XFlow I2C"  method_name="test_xflow_i2c" qual="true" i2c_addr="0x50"/>
    <test name="XFlow SPI"  method_name="test_xflow_spi" qual="true"/>
    
    <!-- Internal Flow Board Interface -->
    <test name="Flow SV 5" method_name="test_flow_sv5" qual="true" toggle="30"/>
    <test name="Flow I2C"  method_name="test_flow_i2c" qual="true" i2c_addr="0x55"/>
    <test name="Flow SPI"  method_name="test_flow_spi" qual="true"/>

    <!-- OAX1 Board Interface -->
    <test name="OA1 I2C"  method_name="test_oa1_i2c" qual="true"/>
    <test name="OA1 Off Test"  method_name="test_oa1_off" qual="true"/>
    
    <!-- OAX2 Board Interface -->
    <test name="OA2 I2C"  method_name="test_oa2_i2c" qual="true"/>
    <test name="OA2 Off Test"  method_name="test_oa2_off" qual="true"/>

    <!-- Rotary Valve 1 Motor Interface -->
    <test name="RV1 Motor"  method_name="test_rv1_motor" qual="true"/>

    <!-- Rotary Valve 1 Board Interface -->
    <test name="RV1 Board"  method_name="test_rv1_board" qual="true"/>

    <!-- Rotary Valve 2 Motor Interface -->
    <test name="RV2 Motor"  method_name="test_rv2_motor" qual="true"/>

    <!-- Rotary Valve 2 Board Interface -->
    <test name="RV2 Board"  method_name="test_rv2_board" qual="true"/>

    <!-- Metering Valve Motor Interface -->
    <test name="MV Motor"  method_name="test_mv_motor" qual="true"/>

    <!-- Metering Valve Board Interface -->
    <test name="MV Home Test"  method_name="test_mv_home" qual="true"/>
    <test name="MV I2C Test"  method_name="test_mv_i2c" qual="true"/>
    
    <!-- Cough Valve Interface -->
    <test name="Cough Valve Test"  method_name="test_cough_valve" qual="true" toggle="10"/>
    
    <!-- Pump Interface -->
    <test name="Pump Test" method_name="test_pump" qual="true"/>
    
    <!-- SOV Interface -->
    <test name="Shut-Off Valve Test" method_name="test_sov" qual="true" on_state="low" off_state ="high"/>
    
    <!--POWER-->
    
    <test name="Charge Monitor Test" method_name="test_chg_monitor" qual="true"/>
    <test name="20V Monitor Test" method_name="test_20V_monitor" qual="false" upper="22.0" lower="18.0"/>
    
    <!-- External DC -->
    <test name="Ext GT14 OK" method_name="test_ext_gt14_ok" qual="true"/>
    <Test name="VPPO OK" method_name="test_vppo_ok" qual="true"/>
    <test name="ExtDC Current Monitor" method_name="test_extdc_current" qual="true"/>
    <test name="ExtDC Voltage Monitor" method_name="test_extdc_voltage" qual="true"/>
    <test name="VPPO Monitor Test" method_name="test_vppo_monitor" qual="true"/>
    <test name="External DC Diode" method_name="test_extdc_diode" qual="true"/>

    <!-- source test above in Startup Tests-->
    
    
    <!-- Batterys-->
    <test name="Battery Temp Test" method_name="test_batt_temp" qual="true" index="4" upper="3500" lower="2832"/>
    <test name="Battery Comms Test" method_name="test_batt_comms" qual="true" index="3"/>
    
    <!-- Internal Battery Interface -->
    <test name="Battery 0 Diode" method_name="test_batt0_diode" qual="true"/>
    <test name="Battery 0 Source Test" method_name="test_batt0_source" qual="true"/>
    <test name="Battery 0 Charge Test" method_name="test_batt0_charge" qual="false" voltage="15V" upper="1.8" lower="1.2" resistance="10"/>
    
    <!-- External Battery 1 Interface -->
    <test name="Battery 1 Diode" method_name="test_batt1_diode" qual="true"/>
    <test name="Battery 1 Source Test" method_name="test_batt1_source" qual="true"/>
    <test name="Battery 1 Charge Test" method_name="test_batt1_charge" qual="false" voltage="15V" upper="1.8" lower="1.2" resistance="10"/>

    <!-- External Battery 2 Interface -->
    <test name="Battery 2 Diode" method_name="test_batt2_diode" qual="true"/>
    <test name="Battery 2 Source Test" method_name="test_batt2_source" qual="true"/>
    <test name="Battery 2 Charge Test" method_name="test_batt2_charge" qual="false" voltage="15" current="2.5" upper="1.8" lower="1.2" resistance="10" chg_delay="5000"/>
    
    <!--Power System Circuits-->
    <test name="CPLD Diode OR Test" method_name="test_cpld_diode" qual="true"/>
    <Test name="Supercap Test" method_name="test_supercap" qual="true"/>
    
    <!-- Front Panel Interface -->
    <test name="Touch Panel Test" method_name="test_touchpanel" qual="true"/>
    <test name="Touchscreen Calibration" method_name="test_touch_cal" qual="true"/>
    <test name="Speaker Test" method_name="test_speaker" qual="true"/>
    <test name="Power On LED Test" method_name="test_pb_led" qual="true"/>
    <test name="Audio Pause LED Test" method_name="test_as_led" qual="true" fs="10" time="10"/>
    <test name="Button Test" method_name="test_buttons" qual="true" port="FirstPortCH" pin="5"/>
    <test name="Speaker Test" method_name="test_speaker" qual="true"/>
    <test name="Charge LED Test"  method_name="test_charge_led" qual="true" timeout="60"/>
    <test name="Ext LED Test"  method_name="test_ext_led" qual="true"/>
    <test name="INOP LED Test"  method_name="test_inop_led" qual="true"/>
    
    <!-- Fan Interface -->
    <test name="Low Fan Volt Test" method_name="test_low_fan_volt" qual="false" upper="7.5" lower="7.1"/>
    <test name="Low Fan Freq Test" method_name="test_low_fan_freq" qual="false" upper="125" lower="100"/>
    <test name="High Fan Volt Test" method_name="test_high_fan_volt" qual="false" upper="12.5" lower="10.5"/>
    <test name="High Fan Freq Test" method_name="test_high_fan_freq" qual="false" upper="200" lower="150"/>
    <test name="System Fault 9 Test" method_name="test_sysfault9" qual="true"/>

   
    
    
    
    
  </tests>

</Settings>

